body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: darkblue;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
  }
  
  .search-bar input[type="text"] {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  
  .search-bar button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .search-bar button[type="submit"]:hover {
    background-color: #0069d9;
  }
  

  main {
    margin: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  section h2 {
    margin-top: 0;
    text-align: center;
  }
  
  img {

    height: 200px;
    object-fit: cover;
  }

  .buy-button {

    background-color: darkblue;
    color: white;
    font-size: 30px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
   
  }
  .car-card {
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
    width: 300px;
  }
  
  .car-card img {
    width: 100%;
  }
  

  #services {

    background-color: aliceblue;
    color: black;
    padding: 50px;

  }



  .services ul {
    list-style: disc;
  }
  
  
  .service-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 50px;
  }
  
  .service-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .service-card i {
    font-size: 48px;
    margin-bottom: 20px;
  }
  

  footer {

    background-color: blue;
    padding-top: 20px;
    padding-bottom: 10px;
    color: white;
    text-align: center;
  }